
:root {
    --bellota-color: #65c059;
    --bellota-hair-color: #010204;
    --bellota-skin-color: #f4cfb4;
    --bellota-complementary-color: #ffffff;
    --bellota-outline-color: #010204;
    --bellota-background-color: #fff;
}

.bellota-background {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bellota-head {
    position: fixed;
    height: 165px;
    width: 193px;
    border-radius: 50%;
    border-top: 4px solid var(--bellota-outline-color);
    background-color: var(--bellota-skin-color);
    z-index: 100;
}

.bellota-head-outline {
    position: fixed;
    overflow: hidden;
    height: 165px;
    width: 193px;
    border-radius: 50%;
    border: 4px solid var(--bellota-outline-color);
    z-index: 120;
}

.bellota-hair-top {
    position: relative;
    height: 53px;
    width: 100%;
    border-radius: 50%;
    background-color: var(--bellota-hair-color);
    z-index: 120;
}

.bellota-hair-top:after {
    position: absolute;
    content: "";
    bottom: 0px;
    bottom: -5px;
    left: 87px;
    height: 26px;
    width: 14px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: var(--bellota-skin-color);
}

.bellota-head::after {
    position: absolute;
    content: "";
    top: -25px;
    right: 30px;
    height: 41px;
    width: 32px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: var(--bellota-hair-color);
}

.bellota-face-mood {
    position: absolute;
    top: 28px;
    height: 53px;
    width: 100%;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: var(--bellota-skin-color);
    z-index: 118;
}

.bellota-head::before {
    position: absolute;
    content: "";
    top: -20px;
    right: 40px;
    height: 41px;
    width: 35px;
    clip-path: polygon(45% 0%, 20% 100%, 100% 100%);
    background-color: var(--bellota-hair-color);
}

.bellota-hair-back {
    position: fixed;
    height: 165px;
    width: 193px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 50;
}

.bellota-hair-back::after {
    position: absolute;
    content: "";
    top: -60px;
    right: -22px;
    bottom: -20px;
    height: 216px;
    width: 237px;
    border-radius: 50%;
    background-color: var(--bellota-hair-color);
    z-index: 80;
}

.bellota-hair-back::before {
    position: absolute;
    content: "";
    top: -180px;
    right: -100px;
    bottom: -20px;
    height: 216px;
    width: 400px;
    border-radius: 50%;
    background-color: var(--main-background-day);
    z-index: 82;
}

.bellota-eye {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--bellota-outline-color);
    background-color: var(--bellota-background-color);
    z-index: 110;
}

.bellota-eye.left {
    left: -25px;
    top: -30px;
}

.bellota-eye.right {
    left: 105px;
    top: -135px;
}

.bellota-iris {
    position: absolute;
    top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--bellota-color);
}

.bellota-iris.left {
    right: -15px;
}

.bellota-iris.right {
    left: -15px;
}

.bellota-pupil {
    position: absolute;
    top: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--bellota-hair-color);
}

.bellota-pupil.left {
    right: -17px;
}

.bellota-pupil.right {
    left: -17px;
}

.bellota-pupil-light {
    position: absolute;
    top: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bellota-background-color);
}

.bellota-pupil-light.left {
    right: 5px;
}

.bellota-pupil-light.right {
    left: 5px;
}

.bellota-mouth {
    position: absolute;
    top: 110px;
    left: 83px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-bottom: 3px solid var(--bellota-outline-color);
}

.bellota-body {
    position: relative;
    overflow: hidden;
    top: 90px;
    left: 20px;
    width: 55px;
    height: 90px;
    background-color: var(--bellota-color);
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    z-index: 50;
}

.bellota-body-outline {
    position: relative;
    top: 90px;
    right: 35px;
    width: 55px;
    height: 90px;
    border-bottom: 4px solid var(--bellota-outline-color);
    z-index: 60;
}

.bellota-body-outline::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    width: 4px;
    height: 100px;
    background-color: var(--bellota-hair-color);
    transform: rotate(4deg);
}

.bellota-body-outline::before {
    position: absolute;
    right: 0;
    bottom: -4px;
    content: "";
    width: 4px;
    height: 100px;
    background-color: var(--bellota-hair-color);
    transform: rotate(-4deg);
}


.bellota-body-decor {
    position: absolute;
    top: 55px;
    width: 100%;
    height: 20px;
    background-color: var(--bellota-hair-color);
}

.bellota-right-foot {
    position: relative;
    overflow: hidden;
    bottom: 15px;
    right: -27px;
    width: 27px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--bellota-outline-color);
    background-color: var(--bellota-background-color);
    z-index: 100;
}

.bellota-right-foot::after, .bellota-left-foot::after {
    position: absolute;
    content: "";
    bottom: -15px;
    right: 0px;
    width: 38px;
    height: 42px;
    background-color: var(--bellota-outline-color);
    z-index: 50;
}

.bellota-right-foot::before, .bellota-left-foot::before {
    position: absolute;
    content: "";
    bottom: 10px;
    right: 6px;
    width: 15px;
    height: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--bellota-background-color);
    z-index: 60;
}

.bellota-left-foot {
    position: relative;
    overflow: hidden;
    bottom: 54px;
    left: -3px;
    width: 27px;
    height: 50px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 4px solid var(--bellota-outline-color);
    background-color: var(--bellota-background-color);
    z-index: 90;
}


.bellota-arm {
    position: relative;
    overflow: hidden;
    width: 27px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--bellota-outline-color);
    background-color: var(--bellota-skin-color);
    z-index: 100;
}
.bellota-arm.left {
    bottom: -5px;
    left: -80px;
}

.bellota-arm.right {
    bottom: 15px;
    right: -90px;
}